<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Company (disabled)" disabled value="ATCS">
  </md-input-container>
<table>
<tr>
   <td>
  <md-input-container class="example-full-width">
      <input mdInput placeholder="Company ID">
    </md-input-container>
   <td>
 </td>

    <td>
     <input mdInput placeholder="Email" [formControl]="emailFormControl">
    <md-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </md-error>

    </td>
</tr>
    </table>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Long Last Name That Will Be Truncated">
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Address 2"></textarea>
    </md-input-container>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->